---
import Header from "../../layouts/Header.astro";
---
<Header>
    <li class="menu__list">
        <a class="menu__link menu__hamburger-link" href="/">Home</a>
      </li>
      <li class="menu__list">
        <a class="menu__link menu__hamburger-link" href="/youtube">Youtube</a>
      </li>
      <li class="menu__list">
        <a class="menu__link menu__hamburger-link" href="/portfolio">Portfolio</a>
      </li>
      <li class="menu__list">
        <a class="menu__link menu__hamburger-link" href="/blog">Blog</a>
      </li>
</Header>
