/* Divider black */
.wrapper__black{
    display: block;
    position: relative;
    height: 28vh;
}
.dark-mode .wrapper__black {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background: rgba(0, 0, 0, 0.6);
}
.custom-shape-divider-bottom-1693539436 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1693539436 svg {
    position: relative;
    display: block;
    width: calc(53% + 397.3px);
    height: 129px;
}
.custom-shape-divider-bottom-1693539436 .shape-fill {
    fill: #000000;
}
@media (min-width:768px){
    .wrapper__black {
        display: block;
        position: relative;
        height: 19vh;
    }
    .custom-shape-divider-bottom-1693539436 {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    .custom-shape-divider-bottom-1693539436 svg {
        position: relative;
    display: block;
    width: calc(126% + -39.7px);
    height: 168px;
    }
    .custom-shape-divider-bottom-1693539436 .shape-fill {
        fill: #000000;
    }
}