.about {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 0 2rem 0;
}
.about__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: 2;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	padding: 0 1rem;
}

.card__about {
	overflow: hidden;
	width: 31rem;
	height: 54rem;
	padding: 0 0 239px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(20 0 51);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border-radius: 17px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	min-width: 23rem;
}



.card-title p {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 700;
	margin-top: -6rem;
	color: var(--green-terminal);
}

.card-title span {
	font-size: 2rem;
	font-weight: 500;
	color: var(--pink-terminal);
}
.card-photo {
	transform: scale(0.3) translate(226px, 747px);
	margin-left: -134px;
	margin-top: -348px;
}
.about__img--src {
	width: 84rem;
	border-radius: 10%;
}

.card-socials {
	display: flex;
	height: 0;
	opacity: 0;
	margin-top: 20px;
	gap: 20px;
	transition: 0.5s;
}

.card-socials-btn {
	width: 4rem;
	height: 40px;
	border: none;
	cursor: pointer;
	background: transparent;
}
.about__icons {
	width: 3rem;
	filter: invert(100%);
}
.about__icons:hover {
	transform: scale(1.2);
}

.card-socials-btn svg {
	width: 100%;
	height: 100%;
	fill: rgb(255, 255, 255);
}

.card__about:hover > .card-socials {
	opacity: 1;
	height: 35px;
	margin-bottom: 4rem;
}

.card-socials-btn:hover {
	/* transform: translateY(-100px); */
	transition: all 0.15s;
}

.card-photo:hover {
	transition: 0.3s;
}

.about__titulo {
	display: flex;
	font-size: 3.5rem;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 15px 0;
	text-align: center;
	justify-content: center;
	font-family: "Montserrat", sans-serif;
}
.color__white{
	color: var(--seccond-color);
}
.about__titulo span {
	color: var(--seccond-color);
	text-shadow: 0px 1px 3px #000000;
}
.about__titulo span:hover {
	color: var(--blue);
	filter: drop-shadow(0 0 12px var(--blue));
}

.about__caja {
	display: flex;
	flex-direction: column;
	width: 92%;
	min-width: 308px;
	height: auto;
	align-items: center;
	justify-content: center;
	justify-items: center;
	font-weight: 500;
	padding: 0 0 2rem 0;
}

.about__textos {
	text-align: left;
	font-size: 18px;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
	line-height: 1.6;
	padding: 0 14px;
}

.about__contactar {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 15px 0;
}
.contactar__boton__icono {
	width: 25px;
	filter: invert(100%) saturate(5);
}

@media (min-width: 768px) {
	.about__container {
		flex-direction: row;
		align-items: center;
		z-index: 2;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2rem;
		flex-wrap: nowrap;
		padding: 0 1.6rem;
	}
	.card-title {
		text-align: center;
		color: var(--main-color);
		font-size: 2.5rem;
		font-weight: 700;
		margin-top: 2rem;
	}

	.card__about {
		overflow: hidden;
		width: 30rem;
		height: 50rem;
	}
	.card-photo {
		transform: scale(0.3) translate(226px, 1055px);
		margin-left: -134px;
		margin-top: -427px;
	}
	.about__img--src {
		width: 86rem;
		border-radius: 10%;
	}
	.about__titulo {
		display: flex;
		font-size: 4em;
		margin: 0;
	}

	.about__caja {
		display: flex;
		width: 48%;
		height: auto;
		min-width: 30%;
	}
	.about__textos {
		text-align: justify;
		font-weight: lighter;
		font-size: 18px;
		padding: 0 30px;
	}
}


@media (min-width: 1200px) {
	.about {
		min-height: 660px;
	}
	.about__container {
		display: flex;
		justify-content: center;
	}
	.about__titulo {
		align-items: center;
		flex-wrap: wrap;
	}
	.about__caja {
		padding: 0 0px;
		min-width: auto;
		max-width: 749px;
	}
}
