@keyframes slideIn {
	0% {
		transform: translateY(600px) scale(6.2);
	}
	100% {
		transform: translateY(0px) scale(1);
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(300px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes expand {
	0% {
		transform: translateY(1400px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}