.boton {
	display: flex;
	font-size: 1.5rem;
	width: 100%;
	max-width: 25rem;
	margin-top: 20px;
	padding: 10px 4px;
	align-items: center;
	background: black;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 40px;
	border: 3px solid var(--green-terminal);
	justify-content: center;
	font-weight: 700;
	cursor: pointer;
	gap: 1rem;
}

.link__boton {
	text-decoration: none;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
	min-width: 203px;
}



@media (min-width: 768px) {
	.boton {
		font-size: 1.3rem;
		width: 65%;
		padding: 11px 1px;
		max-width: 29rem;
	}

	.boton:hover {
		border: 3px solid var(--blue);
	}
	.butt {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.user {
		font-size: 1.9rem;
	}
}

@media (min-width: 1200px) {
	.boton {
		display: flex;
		width: 50%;
		align-items: center;
		border-radius: 40px;
		font-weight: 800;
		margin-bottom: 2rem;
	}
}
