/* Botones terminal */
.terminal_toolbar {
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
	padding: 0 8px;
	box-sizing: border-box;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: linear-gradient(#504b45 0%, #3c3b37 100%);
}
.butt {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 23%;
	max-width: 9rem;
	min-width: 6rem;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin-right: 5px;
	font-size: 1.8rem;
	height: 1.4rem;
	width: 1.4rem;
	box-sizing: border-box;
	border: none;
	border-radius: 100%;
	background: linear-gradient(#7d7871 0%, #595953 100%);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
	box-shadow:
		0px 0px 1px 0px #41403a,
		0px 1px 1px 0px #474642;
}

.btn__red {
	background: #ee411a;
}

.btn__yellow {
	background: #ffae00;
}
.btn__green {
	background: #15ff00;
}

.btn:hover {
	cursor: pointer;
}

.btn:focus {
	outline: none;
}

.butt--exit {
	background: linear-gradient(#f37458 0%, #de4c12 100%);
}
.user {
	color: #d5d0ce;
	margin-left: 6px;
	font-size: 1.5rem;
	line-height: 15px;
	font-family: var(--fira-code);
}

.caja__cristal {
	animation: myAnim 1s ease 4s 1 normal forwards;
	background: var(--dark-purple);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(14.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	max-width: 100rem;
    min-width: 30rem;
    height: auto;
    width: 100%;
	
}

.terminal__container {
	font-size: 1.9rem;
	text-align: left;
	padding: 1.5rem 1rem;
	font-family: var(--fira-code);
	width: 100%;
}
.caja__cristal img {
	max-width: 100%;
}
.caja__cristal h1 {
	font-size: 2.5rem;
}
/* Botondescargar */
.skills__descargar__icono {
	width: 25px;
	filter: invert(100%) saturate(5);
}

.terminal__content{
	text-align: left;
	font-size: 18px;
	font-weight: 400;
	font-family: var(--fira-code);
	line-height: normal;
}

.terminal__content--p {
	color: rgb(182, 182, 3);
}	
.terminal__content--color{
	color: var(--blue-terminal);
}
.terminal__content--h3 {
	color: var(--pink-terminal);
	font-family: var(--fira-code);
}
.terminal__content--span {
	color: var(--green-terminal);
	font-weight: 500;
	font-family: var(--fira-code);
}
.terminal__link {
	color: var(--pink-terminal);
}
.terminal__link:hover {
	color: var(--green-terminal);
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

@media (min-width: 768px) {
	/* .caja__cristal{
		max-width: 70rem;
	} */
}
