:root {
  --main-color: #181818;
  --seccond-color: rgb(228, 228, 228);
  --black: 15, 18, 25;
  --purple: #2e016c;
  --dark-purple: rgb(11 0 37);
  --purple-bg: #19003c;
  --ligth-purple: #610094;
  --blue: #58ecff;

  --accent: #2337ff;
  --accent-dark: #000d8a;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
  --box-shadow-toggle: 2px 1px 20px 0px rgba(145, 192, 255, 0.5),
    inset 2px 0px 1px 0px rgba(214, 232, 255, 0.214),
    inset 0px 11px 28px 0px rgb(255, 255, 255);

  --gradient: 181deg, #000000 35%, #2e006e 100%;
  --gradient-transparent: 181deg, #2e006e 50%, #000000c5 100%;

  --green-terminal: rgb(0, 255, 102);
  --yellow-terminal: rgb(182, 182, 3);
  --pink-terminal: rgb(255, 0, 144);
  --blue-terminal: aqua;

  --form-ok-color: #4caf50;
  --form-error-color: #e81000;

  --fira-code: "Fira Code", monospace;
  --montserrat: "Montserrat", sans-serif;
  /* Darktheme */
  --pure-black: #000000;
  --terminal-bg-dark: rgba(18, 0, 33, 0.734);
  --icons-glow-dark: invert(100%) var(--glow-blue);
  --glow-blue: drop-shadow(0 0px 5px rgba(0, 230, 270, 2));
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}
body {
  font-family: var(--montserrat);
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 1.2rem;
  line-height: 1.7;
  background-color: var(--seccond-color);
}

ol li {
  list-style: decimal;
  font-size: 1.7rem;
}
ul li {
  font-size: 1.7rem;
}

.titulo {
  font-size: 4rem;
  font-family: var(--montserrat);
  text-align: center;
}

a {
  color: var(--pink-terminal);
  text-decoration: none;
}

.prose p {
  font-size: 1.7rem;
}
textarea {
  width: 100%;
  font-size: 16px;
}

code {
  padding: 0.3rem 1rem;
  background-color: rgb(51, 51, 51);
  border-radius: 0.3rem;
  font-size: 1.4rem;
  color: var(--green-terminal);
}

code .line span {
  font-size: 1.7rem;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid var(--main-color);
}

.cards__list {
  padding: 0;
}
