.portafolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 6rem;

}

.portafolio__titulo {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.portafolio__contenedor {
  display: flex;
  flex-direction: column;
  width: 91%;
  position: relative;
  align-items: center;
  gap: 25px;
}

.portafolio__tarjeta {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 285px;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 20px;
  min-width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.portafolio__cara {
  display: flex;
  overflow: hidden;
  position: absolute;
  transition: 0.5s;
  height: 286px;
  width: 100%;
  max-width: 45rem;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-direction: column;
  border-radius: 15px;
  backface-visibility: hidden;
}

.portafolio__tarjeta .faceA {
  border-radius: 15px;
  background-color: var(--dark-purple);
  border-radius: 15px;
  transform: perspective(100%) rotateY(0deg);
}

.portafolio__tarjeta:hover .faceA {
  transition: 1.3s ease-in-out;
  filter: blur(8px);
  animation: anim 4s infinite;
  transform: perspective(100%) rotateY(180deg);
}

.portafolio__tarjeta .faceB {
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(95px);
  overflow: hidden;
  background: rgba(22, 0, 54, 0.741);
}

.portafolio__tarjeta:hover .faceB {
  transition: 0.6s ease-in-out;
  /* backdrop-filter: blur(20px); */
  transform: perspective(0) translateY(0);
  opacity: 1;
}

.img__container {
  display: flex;
  justify-content: center;
  height: 33vh;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  align-items: center;
}

.portafolio__img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.container__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portafolio__subtitulo {
  font-size: 1.6rem;
  text-align: center;
  overflow: hidden;
  color: var(--green-terminal);
}

.skills__used {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  gap: 0.8rem;
}

.tecnology {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.913);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.339);
  padding: 1.2rem;
  width: 4rem;
  height: 4rem;
}

.portafolio__descripcion {
  text-align: left;
  font-family: "Source Code Pro", monospace;
  line-height: normal;
  color: var(--green-terminal);
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.portafolio__botobnes {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.portafolio__btn {
  display: flex;
  font-size: 13px;
  width: 12rem;
  margin-top: 10px;
  padding: 8px 5px;
  align-items: center;
  background: var(--pure-black);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 40px;
  border: 3px solid var(--green-terminal);
  justify-content: space-evenly;
  font-weight: 700;
  color: var(--seccond-color);
}

.portafolio__btn:hover {
  border: 3px solid var(--blue);
}

@media (min-width: 768px) {
  .portafolio {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    padding: 5rem 0;
  }
  .portafolio__contenedor {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portafolio__tarjeta {
    justify-content: center;
    width: unset;
    min-width: 34rem;
    flex-direction: column;
    height: 328px;
  }
  .portafolio__cara {
    width: 100%;
    border-radius: 15px;
  }
  .img__container {
    height: 42vh;
  }
  .portafolio__img {
    width: 459px;
  }
  .portafolio__subtitulo {
    font-size: 1.8rem;
  }
  .portafolio__descripcion {
    font-size: 1.6rem;
    padding: 0 2rem 0 3rem;
  }
  .portafolio__botobnes {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2rem;
    padding: 0 0.5rem;
  }
  .portafolio__btn {
    font-size: 1.2rem;
    width: 100%;
    max-width: 10rem;
    padding: 8px 3px;
    align-items: center;
    border-radius: 40px;
  }
  .portafolio__btn:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 1200px) {
  .portafolio__contenedor {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
  }

  .portafolio__tarjeta {
    display: flex;
    justify-content: center;
    min-width: 36rem;
    align-items: center;
    width: 31%;
  }
  .portafolio__cara {
    height: 308px;
  }
  .portafolio__img {
    width: 509px;
  }

  .portafolio__btn:hover {
    transform: scale(1.1);
  }
}

/* Page portfolio */
.portfolio__padre {
  width: 100%;
  padding: 16rem 1rem 10rem;
  backdrop-filter: blur(6px);
}
.cards__container {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
height: auto;
gap: 3rem;
}