.ytchannel{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5rem 0;
}
.ytchannel__titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.ytchannel__title-red{
    color: red;
    padding: 0 1.4rem;
}
.ytchannel__title-red:hover{
    color: white;
    text-shadow: 0px 1px 2px #000000;
    filter: var(--glow-blue);
}
.logo__yt{
    width: 5rem;
 }
.ytchannel__caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    .vid__container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .vid__titulo{
        font-size: 3rem;
        margin: 0 0 2rem;
    }
}
.latestVideoEmbed{
    width: 100%;
    height: 31vh;
    min-width: 31rem;
}
@media (min-width: 768px){
    .ytchannel{
    align-items: center;
    justify-content: center;
    }
    .ytchannel__titulo{
        text-align: center;
        margin: 0;
        font-size: 4rem;    
    }
    .ytchannel__caja{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 85%;
        height: auto;
        flex-wrap: wrap;
    }
    .latestVideoEmbed{
        width: 29vw;
        min-width: 42rem;
        height: 296px;
    }
}   
@media (min-width:1200px){
    .ytchannel{
        height: 77vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .ytchannel__caja{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 82%;
        gap: 14rem;
        flex-wrap: nowrap;
    }
}