---
import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";
import Divider1 from "../components/Divider1.astro";
import ToogleDarkBtn from "../components/ToggleDarkBtn.astro";
import Footer from "../components/Footer.astro";
import DarkBg from "../components/DarkBg.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Skills from "../components/Skills.astro";
import BtnToTop from "../components/BtnToTop.astro";
import "../styles/hero.css";

import CardsPostsHome from "../components/CardsPostsHome.astro";
import SecundadyMenu from "../components/SecundadyMenu.astro";
import CardSkill from "../components/CardSkills";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<SecundadyMenu />
		<ToogleDarkBtn />
		<BtnToTop />
		<main>
			<section class="about__page">
				
				<CardsPostsHome />
			</section>
		</main>
		<DarkBg />
		<Footer />
		<style>
			.about__page {
				width: 100%;
				padding-top: 14rem;
				height: 100vh;
			}
		</style>
	</body>
</html>
