---
import AboutLayout from "../layouts/AboutLayout.astro";
import "../styles/about-section.css"
import YoutubeLastvid from "../components/YoutubeLastvid.astro";
import BaseHead from "../components/BaseHead.astro";
import "../styles/global.css";
import "../styles/about-section.css";
import ToogleDarkBtn from "../components/ToggleDarkBtn.astro";
import AboutNav from "../components/Navs/AboutNav.astro"
import BtnToTop from "../components/BtnToTop.astro";
import Footer from "../components/Footer.astro";
import DarkBg from "../components/DarkBg.astro";
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <AboutNav />
		<ToogleDarkBtn />
		<BtnToTop />
    <main>
<AboutLayout>
  <h2 class="about__titulo--post post__titulo">
    Ángela <span class="span__dark" id="span-titulo2"> Sofía</span> Osorio
  </h2>
  <p>
    If I were asked to highlight a single quality in myself, it would be the
    love for what I do. Programming, in particular, is something I engage in for
    the sheer pleasure of creating.
  </p>
  <p>
    As a frontend developer, I consider myself an artisan of CSS. I take joy in
    crafting beautiful and interactive components.
  </p>
  <p>
    I studied in the "One Oracle Next Education" program, where I had the
    opportunity to be recognized as a "One Helper" for my supportive role in
    guiding my peers on their journey to becoming developers. We also initiated
    a live streaming program to provide valuable information, covering both hard
    and soft skills. I was chosen to showcase my project live and, ultimately,
    deliver the graduation speech for the program. Currently, I remain actively
    involved as part of the student committee of One Oracle Next Education,
    where we continue organizing events for our alumni.
  </p>
</AboutLayout>
<section class="about__page">
  <YoutubeLastvid/>
</section>
    </main>
    <DarkBg />
<Footer/>
</body>
</html>
<style>
  .about__page {
    width: 100%;
    padding: 10rem 2rem 0 2rem;
    height: auto;
  }
</style>