---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ToogleDarkBtn from"../components/ToggleDarkBtn.astro"
import Footer from "../components/Footer.astro";
import DarkBg from "../components/DarkBg.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
	
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<ToogleDarkBtn/>
		<main>
			<Hero/>
		</main>
		<DarkBg/>
		<Footer />
			
	</body>
</html>
