---
import BaseHead from "../components/BaseHead.astro";
import ToogleDarkBtn from "../components/ToggleDarkBtn.astro";
import Footer from "../components/Footer.astro";
import DarkBg from "../components/DarkBg.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BtnToTop from "../components/BtnToTop.astro";
import YoutubeLastvid from "../components/YoutubeLastvid.astro";
import NavSecundary from "../components/Navs/NavSecundary.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<NavSecundary />
		<ToogleDarkBtn />
		<BtnToTop />
		<main>
			<section class="about__page">
				<YoutubeLastvid/>
			</section>
		</main>
		<DarkBg />
		<Footer />
		<style>
			.about__page {
				width: 100%;
				padding: 10rem 2rem 0 2rem;
				height: auto;
			}
		</style>
	</body>
</html>
