---
import "../styles/about-home.css";
import Button from "./Button";
import CardTerminal from "../layouts/CardTerminal.astro";
import CardAbout from "./CardAbout.astro";
import TitleSpan from "./TitleSpan.astro";
---

<section class="about" id="aboutMe">
	<TitleSpan text1="Who is Sofi" span="Dev" text2="?" />
	<div class="about__container">
		<CardAbout />

		<CardTerminal>
			<h3 class="terminal__content">≥ Angela Sofía Osorio</h3>
			<p class="terminal__content contenido">
				≥ I'm a dedicated junior front-end developer based in Mexico, passionate
				about technology and constantly expanding my skills.
			</p>
			<h3 class="terminal__content contenido">
				≥ What <span class="about__span span__dark">sets me apart?</span>
			</h3>
			<p class="terminal__content contenido">
				≥ I genuinely <span class="span__dark">love what I do! 💙</span> I
				believe that blending creativity and code can craft enchanting user
				experiences. In my free time, you'll often find me sipping coffee,
				writing articles on my blog, and creating YouTube videos about
				programming.
			</p>
			<div class="about__contactar">
				<Button href="/about" text="See more" />
			</div>
		</CardTerminal>
	</div>
</section>
