---
import "../styles/about-home.css";
import Button from "./Button";
import CardTerminal from "../layouts/CardTerminal.astro";
---

<section class="about" id="aboutMe">
	<h2 class="about__titulo" id="aboutDeTitulo">
		Who is Sofi <span class="span__dark" id="span-titulo2"> Dev</span>?
	</h2>
	<div class="about__container">
		<div class="card__about">
			<div class="card-photo">
				<img class="about__img--src" src="./img/sofi4.webp" alt="" />
			</div>
			<div class="card-title">
				<p>SofiDev</p>
				<span>frontend Developer</span>
			</div>
			<div class="card-socials">
				<a
					class="card-socials-btn facebook"
					href="./documents/Angela_Sofia_Osorio_Cv_2023.pdf"
					target="_blank">
					<img class="about__icons" src="./svg/pdf-solid.svg" alt="" />
				</a>
				<a
					class="card-socials-btn"
					href="https://github.com/SofiDevO"
					target="_blank"
					rel="nofollow noreferrer noopener">
					<img
						class="about__icons"
						src="./svg/github-light.svg"
						alt="icono GitHub"
						data-name="Layer 21"
						id="Layer_21"
					/>
				</a>
				<a
					class="card-socials-btn icon"
					href="https://www.linkedin.com/in/sofidev/"
					target="_blank"
					rel="nofollow noreferrer noopener">
					<img
						class="about__icons"
						src="./svg/linkedin.svg"
						alt="icono linkedin"
						data-name="Layer 21"
						id="Layer_21"
					/>
				</a>
			</div>
		</div>

		<CardTerminal>
			<h3 class="terminal__content">≥ Angela Sofía Osorio</h3>
			<p class="terminal__content contenido">
				≥ I'm a dedicated junior front-end developer based in Mexico, passionate
				about technology and constantly expanding my skills.
			</p>
			<h3 class="terminal__content contenido">
				≥ What <span class="about__span span__dark">sets me apart?</span>
			</h3>
			<p class="terminal__content contenido">
				≥ I genuinely <span class="span__dark">love what I do! 💙</span> I
				believe that blending creativity and code can craft enchanting user
				experiences. In my free time, you'll often find me sipping coffee,
				writing articles on my blog, and creating YouTube videos about
				programming.
			</p>
			<div class="about__contactar">
				<Button href="/about" text="See more" />
			</div>
		</CardTerminal>
	</div>
</section>
