---
import "../styles/card-terminal.css"
---

<div class="terminal_toolbar">
    <div class="butt">
        <button class="btn btn__red btn-color"></button>
        <button class="btn btn__yellow"></button>
        <button class="btn btn__green"></button>
    </div>
    <p class="user">sofidev@admin: ~</p>
</div>