---
import "../styles/card-terminal.css"
---

<div class="terminal_toolbar">
    <div class="butt">
        <div class="btn btn__red btn-color"></div>
        <div class="btn btn__yellow"></div>
        <div class="btn btn__green"></div>
    </div>
    <p class="user">sofidev@admin: ~</p>
</div>