---
import "../styles/components/about-home.css";
import ContactSocialIcons from "./ContactSocialIcons.astro";
---

<div class="card__about">
  <div class="card-photo">
    <img class="about__img--src" src="./img/sofi4.webp" alt="" />
  </div>
  <div class="card-title">
    <p>SofiDev</p>
    <span>frontend Developer</span>
  </div>
  <div class="card-socials">
  <ContactSocialIcons/>
</div>
</div>
