---
import "../styles/components/about-home.css"
---
    <a
      class="card-socials-btn icono__dark"
      href="../docs/Angela_Sofia_Osorio_Cv_2023.pdf"
      target="_blank"
    >
      <img
        class="about__icons about__icons--pdf"
        src="./svg/pdf-solid.svg"
        alt=""
      />
    </a>
    <a
      class="card-socials-btn icono__dark"
      href="https://github.com/SofiDevO"
      target="_blank"
      rel="nofollow noreferrer noopener"
    >
      <img
        class="about__icons"
        src="./svg/github-light.svg"
        alt="icono GitHub"
        data-name="Layer 21"
        id="Layer_21"
      />
    </a>
    <a
      class="card-socials-btn icon icono__dark"
      href="https://www.linkedin.com/in/sofidev/"
      target="_blank"
      rel="nofollow noreferrer noopener"
    >
      <img
        class="about__icons"
        src="./svg/linkedin.svg"
        alt="icono linkedin"
        data-name="Layer 21"
        id="Layer_21"
      />
    </a>
