---
import MainLogo from "./MainLogo.astro";
import "../styles/components/footer.css"

---
<footer class="footer">
	<div class="footer__container">
		<MainLogo/>
		<div class="foooter__cajas">
		</div>
		<div class="foooter__cajas">
			<ul class="footer__caja__links">
				<li class="footer__links"><a href="/blog" class="footer__link"
						target="_blank">Blog</a></li>
				<li class="footer__links"><a href="https://www.youtube.com/channel/UC36_js-krsAHAEAWpEDhHtw"
						class="footer__link" target="_blank" rel="nofollow noreferrer noopener"
						data-section="footer" data-value="cursosYoutube">Youtube channel</a></li>
				<li class="footer__links"><a href="https://platzi.com/p/SofiDev/" class="footer__link"
						target="_blank" rel="nofollow noreferrer noopener" data-section="footer"
						data-value="cursosPlatzi">My courses at Platzi</a></li>
				<li class="footer__links"><a href="https://app.aluracursos.com/emprega-one/profile/sofidev"
						class="footer__link" target="_blank" rel="nofollow noreferrer noopener"
						data-section="footer" data-value="cursosAlura">My courses at Alura</a></li>
			</ul>
		</div>
		<div class="foooter__cajas">
			<ul class="footer__caja__iconos">
				<li class="footer__iconos__lista ">
					<a href="mailto: sofi.dev@outlook.com" rel="nofollow noreferrer noopener">
						<img class="footer__iconos mail__footer icono__dark" src="/svg/mail (1).svg"
							alt="mail icon">
					</a>
				</li>
				<li class="footer__iconos__lista ">
					<a href="https://www.linkedin.com/in/sofidev/" target="_blank"
						rel="nofollow noreferrer noopener">
						<img class="footer__iconos linkedin__footer icono__dark" src="/svg/linkedin.svg"
							alt="Linkedin icon">
					</a>
				</li>
				<li class="footer__iconos__lista ">
					<a href="https://github.com/SofiDevO" target="_blank" rel="nofollow noreferrer noopener">
						<img class="footer__iconos  icono__dark" src="/svg/github-light.svg"
							alt="github icon">
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
