---
;
import "../styles/components/hero.css"
---

 <section class="hero" id="hero">
    <div class="hero__contenedor">
        <div class="hero__saludo">
            <h1 class="hero__titulo" id="titulo-saludo" data-section="hero" data-value="heroTitulo">Hi! I'm
                Sofi<span class="flicker-in-1 span__dark">Dev</span> </h1>
            <h2 class="hero__subtitulo" id="subtitulo" data-section="hero" data-value="heroSubtitulo"> ≥
                Frontend
                Developer in <span class="hero__subtitulo--span">Mexico</span>  </h2>
        </div>
        <aside class="side__container">
                <img class="side__img img__ligth" src="./img/avatar-black.webp"
                    alt="Sofidev profile photo">
                <img class="side__img img__dark" src="./img/avatar_pink.webp"
                    alt="Sofidev profile photo">
                <img class="side__img img__damage" src="./img/IA_damage.webp"
                    alt="Sofidev profile photo">

            <div class="social">
                <a class="social__link github icono__dark" href="https://github.com/SofiDevO" target="_blank"
                    rel="nofollow noreferrer noopener">
                    <img class="social__icon" width="200" height="120" src="./svg/github-light.svg" alt="GitHub icon">
                </a>
                <a class="social__link alura icono__dark"
                    href="https://app.aluracursos.com/emprega-one/profile/sofidev" target="_blank"
                    rel="nofollow noreferrer noopener">
                    <img class="social__icon" src="./svg/alura.svg" width="200" height="120" alt="Aluura icon">
                </a>

                <a class="social__link linkedin icono__dark" href="https://www.linkedin.com/in/sofidev/"
                    target="_blank" rel="nofollow noreferrer noopener">
                    <img class="social__icon " src="./svg/linkedin.svg" width="200" height="120" alt="LinkedIn icon">
                </a>

                <a class="social__link platzi icono__dark" href="https://platzi.com/p/SofiDev/" target="_blank"
                    rel="nofollow noreferrer noopener">
                    <img class="social__icon " src="./svg/platzi.svg" width="200" height="120" alt="Platzi icon">
                </a>
                <a class="social__link youtube icono__dark"
                    href="https://www.youtube.com/channel/UC36_js-krsAHAEAWpEDhHtw" target="_blank"
                    rel="nofollow noreferrer noopener">
                    <img class="social__icon " src="./svg/youtube-solid.svg"  width="200" height="120" alt="Youtube icon">
                </a>
            </div>
        </aside>
    </div>
</section>
