---

import "../styles/components/hero.css"
import HeroIcons from "./HeroIcons.astro"
---

 <section class="hero" id="hero" transition:persist>
    <div class="hero__contenedor">
        <div class="hero__saludo">
            <h1 class="hero__titulo" id="titulo-saludo" data-section="hero" data-value="heroTitulo">Hi! I'm
                Sofi<span class="flicker-in-1 span__dark">Dev</span> </h1>
            <h2 class="hero__subtitulo" id="subtitulo" data-section="hero" data-value="heroSubtitulo"> ≥
                Javascript developer in  <span class="hero__subtitulo--span">Mexico</span>  </h2>
        </div>
        <aside class="side__container">
                <img class="side__img img__ligth" src="./img/avatar-black.webp"
                    alt="Sofidev profile photo">
                <img class="side__img img__dark" src="./img/avatar_purple.webp"
                    alt="Sofidev profile photo">
                <img class="side__img img__damage" src="./img/IA_damage.webp"
                    alt="Sofidev profile photo">
            <HeroIcons/>
        </aside>
    </div>
</section>
