<a class="header__link " href="/">
    <p class="header__logo logo__dark" id="logo">Sofi<span class="span__dark" id="span">Dev</span></p>
</a>

<style>
    .header__logo {
	display: flex;
	justify-content: flex-start;
	font-weight: bold;
	font-size: 3rem;
	color: var(--seccond-color);
	font-family: 'Montserrat', sans-serif;
	transition: all 0.7s;
	z-index: 4;
}
.header__logo,
.header__link:hover {
	cursor: pointer;
}

.header__logo span {
	color: var(--blue);
}

.header__logo span:hover {
	color: var(--blue);
	filter: var(--glow-blue);
	cursor: default;
}
@media screen and (min-width:768px) {
    .header__logo {
		display: flex;
		justify-content: flex-start;
		font-size: 2.2rem;
	}
}
@media screen and (min-width:1200px) {
    .header__logo {
		display: flex;
		justify-content: flex-start;
		font-size: 3.2rem;
	}
}
</style>