---
import "../styles/pages/portfolio.css"
import PortfolioCards from "./PortfolioCards.astro";
import Button from "./Button.astro";

---


    <section class="portafolio " id="portafolio">
            <h2 class="titulo titulo__dark">Portfolio</h2>
            <div class="portafolio__contenedor" data-card>
                <PortfolioCards/>
            </div>
            <Button
                href="/portfolio"
                text="See More"
            />
        </section>
