---
import CardTerminal from "../layouts/CardTerminal.astro";
import CardsPostsHome from "./CardsPostsHome.astro";
import TitleSpan from "./TitleSpan.astro"
import TerminalText from "./TerminalText.astro"

---

<section class="post">
    <TitleSpan classColor="color__white" text1="My Latest" span="Post" />
    <div class="post__container">
        <CardsPostsHome/>
        <div class="container__terminal">
            <CardTerminal>
               <p class="terminal__content terminal__content--p">In my free time, you'll often find me <span class="terminal__content terminal__content--span span__dark">sipping coffee and  writing articles on my blog.</span> I love writing about programming, writing tips, and personal branding 💛 </p>
            </CardTerminal>
        </div>
    </div>
</section>


<style>
    .post{
        background-color: black;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    .post__container{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            width: 100%;
        }

    @media screen and (min-width: 768px) {
        .post__container{
            flex-direction: row;
            justify-content: space-evenly;
            width: 80%;
        }
        .container__terminal{
            width: 65rem;
        }
    }
        
</style>



