---
import HeaderLink from './HeaderLink.astro';
import MainLogo from './MainLogo.astro';
import "../styles/header.css"
---
<script>
	function hamburgerMenu(panelBtn, panel, menuLink) {
	
		document.addEventListener("click", (e) => {
			if (e.target.matches(panelBtn) || e.target.matches(`${panelBtn} *`)) {
				document.querySelector(panel).classList.toggle("is-active");
				document.querySelector(panelBtn).classList.toggle("is-active");
			};
			if (e.target.matches(menuLink)) {
				document.querySelector(panel).classList.remove("is-active");
				document.querySelector(panelBtn).classList.remove("is-active");
			};
		})
	}
	document.addEventListener("DOMContentLoaded", (e)=> {
		hamburgerMenu(".panel__btn", ".panel", ".menu__link");
	})
	
</script>
<header class="header" id="header">
	<MainLogo/>
	<!-- Menu  -->
	<nav class="menu__nav panel__styles panel" id="panel">
		<ul class="menu__ul">
			<img class="menu__avatar" src="../img/avatar_pink.webp" alt="logo Icon">
			<li class="menu__list"><a class="menu__link menu__hamburger-link" href="/">Home</a></li>
			<li class="menu__list"><a class="menu__link menu__hamburger-link" href="/youtube">Youtube</a></li>
			<li class="menu__list"><a class="menu__link menu__hamburger-link" href="/portfolio">Portfolio</a></li>
			</li>
			<li class="menu__list"><a class="menu__link menu__hamburger-link" href="/blog">Blog</a></li>
		</ul>
	</nav>   
</header>
<button class="panel__btn hamburger hamburger--emphatic" type="button" aria-label="menu">
	<span class="hamburger-box">
		<span class="hamburger-inner" id="hamburguesa"></span>
	</span>
</button>

