---
import CardSkill from "./CardSkills";
import CardTerminal from "../layouts/CardTerminal.astro";
import TerminalText from "../components/TerminalText.astro"
import Button from "../components/Button";

---

<section class="skills" id="skills">
	<h2 class="titulo titulo__dark">Skills</h2>
	<div class="skills__container">
        <CardTerminal>
            <TerminalText
			spanLink="≥ Happily graduated from the"
			href="https://www.oracle.com/mx/education/oracle-next-education/"
			textRef="'One Oracle Next Education' "
			spanAfeterLink="program"
			textWithSpan=" ≥ Strong foundation in"
			textInSpan="semantic HTML, CSS, SCSS,Javascript,React, Styled Components,SASS, React Router, Axios, and Astro. I also have basic knowledge of MySQL."
			textContent="≥ In addition to my technical skills, I have experince in, graphic design, and UI design."
		/>
        <Button
        href="./docs/Angela_Sofia_Osorio_Cv_2023.pdf"
        src="./svg/generate-pdf.svg"
        />
        </CardTerminal>
		<div class="skills__cards-container">
			<div class="skills__cajas">
				<CardSkill />
			</div>
		</div>
	</div>
</section>
