---
import CardSkill from "./CardSkills";
import CardTerminal from "../layouts/CardTerminal.astro";
import Button from "./Button.astro";

---

<section class="skills" id="skills">
	<h2 class="titulo titulo__dark">Skills</h2>
	<div class="skills__container">
        <CardTerminal>


			<p class="terminal__content terminal__content--p"> ≥ Strong foundation in
				<span class="terminal__content terminal__content--span">semantic HTML, CSS, SCSS, Javascript, React, Styled Components, SASS, React Router, Axios, and Astro. I also have the basics of MySQL.</span>
			</p>
			<p class="terminal__content terminal__content--color">≥ In addition to my technical skills, I have experience in graphic design and UI design.</p>
			<Button
				href="./docs/Angela_Sofia_Osorio_Cv_2023.pdf"
				text="Download CV"
				target="_blank"
			/>
		</CardTerminal>
		<div class="skills__cards-container">
			<div class="skills__cajas">
				<CardSkill />
			</div>
		</div>
	</div>
</section>
