---
import "../styles/components/about-home.css"
---

<h2 class=`about__titulo ${Astro.props.classColor}` id="aboutDeTitulo">{Astro.props.text1} 
     <span class="span__dark" id="span-titulo2"> {Astro.props.span} </span> {Astro.props.text2}</h2>