---

---


<section class="tools">
    <h2 class="tools__titulo titulo__dark">Tools</h2>
    <div class="tools__caja__slider">
        <div class="slider">
            <div class="tools__cajas">
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/slack.svg" alt="slack">
                    </div>
                    <span class="tools__descripcion titulo__dark">slack</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/airtable.svg" alt="airtable">
                    </div>
                    <span class="tools__descripcion titulo__dark">airtable</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/git.svg" alt="git">
                    </div>
                    <span class="tools__descripcion titulo__dark">git</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono terminal" src="./svg/terminal-fill.svg" alt="terminal">
                    </div>
                    <span class="tools__descripcion titulo__dark">terminal</span>
                </div>

                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/notion-icon.svg" alt="notion">
                    </div>
                    <span class="tools__descripcion titulo__dark">notion</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark " src="./svg/ubuntu.svg" alt="ubuntu">
                    </div>
                    <span class="tools__descripcion titulo__dark">ubuntu</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/visual-studio-code.svg"
                            alt="vscode">
                    </div>
                    <span class="tools__descripcion titulo__dark">vscode</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/figma.svg" alt="figma">
                    </div>
                    <span class="tools__descripcion titulo__dark">figma</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/woocommerce.svg"
                            alt="woocommerce">
                    </div>
                    <span class="tools__descripcion titulo__dark">woocommerce</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/yoast.svg" alt="yoast SEO">
                    </div>
                    <span class="tools__descripcion titulo__dark">yoast SEO</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/xampp.svg" alt="xampp">
                    </div>
                    <span class="tools__descripcion titulo__dark">xampp</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/elementor (1).svg"
                            alt="elementor">
                    </div>
                    <span class="tools__descripcion titulo__dark">elementor</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/google-analytics.svg"
                            alt="google analytics">
                    </div>
                    <span class="tools__descripcion titulo__dark">analytics</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/google-search-console.svg"
                            alt="Google search console">
                    </div>
                    <span class="tools__descripcion titulo__dark">search console</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/photoshop.svg" alt="Photoshop">
                    </div>
                    <span class="tools__descripcion titulo__dark">photoshop</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/illustrator.svg"
                            alt="Illustrator">
                    </div>
                    <span class="tools__descripcion titulo__dark">illustrator</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/premiere.svg" alt="Premier">
                    </div>
                    <span class="tools__descripcion titulo__dark">premier</span>
                </div>
                <!-- Se repite -->
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/slack.svg" alt="slack">
                    </div>
                    <span class="tools__descripcion titulo__dark">slack</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/airtable.svg" alt="airtable">
                    </div>
                    <span class="tools__descripcion titulo__dark">airtable</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/git.svg" alt="git">
                    </div>
                    <span class="tools__descripcion titulo__dark">git</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono terminal" src="./svg/terminal-fill.svg" alt="terminal">
                    </div>
                    <span class="tools__descripcion titulo__dark">terminal</span>
                </div>

                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/notion-icon.svg" alt="notion">
                    </div>
                    <span class="tools__descripcion titulo__dark">notion</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark " src="./svg/ubuntu.svg" alt="ubuntu">
                    </div>
                    <span class="tools__descripcion titulo__dark">ubuntu</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/visual-studio-code.svg"
                            alt="vscode">
                    </div>
                    <span class="tools__descripcion titulo__dark">vscode</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/figma.svg" alt="figma">
                    </div>
                    <span class="tools__descripcion titulo__dark">figma</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/woocommerce.svg"
                            alt="woocommerce">
                    </div>
                    <span class="tools__descripcion titulo__dark">woocommerce</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/yoast.svg" alt="yoast SEO">
                    </div>
                    <span class="tools__descripcion titulo__dark">yoast SEO</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/xampp.svg" alt="xampp">
                    </div>
                    <span class="tools__descripcion titulo__dark">xampp</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/elementor (1).svg"
                            alt="elementor">
                    </div>
                    <span class="tools__descripcion titulo__dark">elementor</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/google-analytics.svg"
                            alt="google analytics">
                    </div>
                    <span class="tools__descripcion titulo__dark">analytics</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/google-search-console.svg"
                            alt="Google search console">
                    </div>
                    <span class="tools__descripcion titulo__dark">search console</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/photoshop.svg" alt="Photoshop">
                    </div>
                    <span class="tools__descripcion titulo__dark">photoshop</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/illustrator.svg"
                            alt="Illustrator">
                    </div>
                    <span class="tools__descripcion titulo__dark">illustrator</span>
                </div>
                <div class="tools__grupo">
                    <div class="tools__caja caja__dark">
                        <img class="tools__icono tool__dark" src="./svg/premiere.svg" alt="Premier">
                    </div>
                    <span class="tools__descripcion titulo__dark">premier</span>
                </div>
            </div>
        </div>
    </div>
</section>