---
import SliderTools from "./SliderTools.astro";


---


<section class="tools">
    <h2 class="titulo tools__titulo titulo__dark">Tools</h2>
    <div class="tools__caja__slider">
        <div class="slider">
            <div class="tools__cajas">
                <SliderTools/>
            </div>
        </div>
    </div>
</section>