---
import "../styles/youtube-last-vid.css";
import CardTerminal from "../layouts/CardTerminal.astro";
---

<script>
  const loadVideo = (iframe) => {
    const cid = "UC36_js-krsAHAEAWpEDhHtw";
    const channelURL = encodeURIComponent(
      `https://www.youtube.com/feeds/videos.xml?channel_id=${cid}`
    );
    const reqURL = `https://api.rss2json.com/v1/api.json?rss_url=${channelURL}`;

    fetch(reqURL)
      .then((response) => response.json())
      .then((result) => {
        const videoNumber = iframe.getAttribute("vnum");
        const link = result.items[videoNumber].link;
        const id = link.substr(link.indexOf("=") + 1);
        iframe.setAttribute(
          "src",
          `https://youtube.com/embed/${id}?controls=0&autoplay=1`
        );
      })
      .catch((error) => console.log("error", error));
  };

  document.addEventListener("DOMContentLoaded", (e) => {
    const iframes = document.getElementsByClassName("latestVideoEmbed");
    for (let i = 0, len = iframes.length; i < len; i++) {
      loadVideo(iframes[i]);
    }
  });
</script>

<section id="ytchannel" class="ytchannel">
  <h2 class="titulo titulo__dark ytchannel__titulo">
    Suscribe to my <span class="ytchannel__title-red">Youtube</span> Channel
    <img class="logo__yt" src="../svg/youtube-solid.svg" alt="Logo Youtube" />
  </h2>

  <div class="ytchannel__caja">
    <div class="terminal__content" id="textos">
      <CardTerminal>
        <p class="terminal__content terminal__content--p">
			≥ I think that 
          <span class="terminal__content--span span__dark">
            the best way to learn and master something, is to
            teach others.</span
          >
        </p>
        <p class="terminal__content terminal__content--p">
          ≥ "That is the main reason why I decided to start this channel.
          However, another reason is the ability to help others with problems I
          had at some point and couldn't find a solution to <span>❤️</span>.
        </p>
        <span class="terminal__content--span span__dark">
          ≥ In this way, I feel that I am contributing something to my
          community: The Developers community.
        </span>
      </CardTerminal>
    </div>

    <div class="vid__container">
      <h2 class="vid__titulo">≥ My latest Video ❤️</h2>
      <iframe
        class="latestVideoEmbed"
        vnum="0"
        width="600"
        height="340"
        frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
</section>
