.portafolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 3rem 4rem;
}

.portafolio__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  gap: 2rem;
}
.portafolio__card {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  background: rgb(238, 238, 238);
  padding-bottom: 3rem;
  border-radius: 14px;
  overflow: hidden;
  min-width: 30rem;
  gap: 1rem;
  box-shadow: -1px -3px 8px 5px #64646475;
}
.portafolio__card h3 {
  font-size: 2rem;
  color: var(--secundary-color);
  font-family: var(--font-montserrat);
  font-weight: 600;
  margin-bottom: 2rem;
}
.image__container {
  width: 33rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.card__img {
  width: 100%;
  transition: 0.5s ease-in-out;
  object-fit: cover;
}

.portafolio__card:hover .card__img {
  transform: scale(1.2);
}
.btn__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.card__btn {
  color: white;
  background: var(--secundary-color);
  font-weight: 500;
  padding: 1.2rem 1rem;
  border-radius: 15px;
  border: 2px solid #000000;
  width: 117px;
  text-align: center;
  font-size: 1.2rem;
  transition: .5s ease-in-out;
}
.card__btn:hover {
  background: var(--text-gradient);
}


.portafolio__icons{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.icon__caja{
    padding: 0.5rem;
    background: #7d7d7d;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px 1px #000000e3;
    border: 1.5px solid var(--secundary-color);
}

.iconify__icon{
    font-size: 1.6rem;
}