---
import "../styles/global.css";
import "../styles/about-section.css";
import CardTerminal from "./CardTerminal.astro";
import ContactSocialIcons from "../components/ContactSocialIcons.astro";


---


      <section class="section__about about__page" id="about">
        <div class="about__imageIcons">
        <img
          class="about__profile"
          src="../img/sofi_retrato.webp"
          alt="sofidev picture"
        />
        <div class="icons__container">
          <ContactSocialIcons/>
        </div>


        </div>
        <aside class="about__text" id="youtube">
          <CardTerminal>
            <slot />
          </CardTerminal>
        </aside>
      </section>
