---
import BaseHead from "../components/BaseHead.astro";
import "../styles/global.css";
import "../styles/about-section.css";
import CardTerminal from "./CardTerminal.astro";


---


      <section class="section__about about__page" id="about">
        <img
          class="about__profile"
          src="../img/sofi4.webp"
          alt="sofidev picture"
        />
        <aside class="about__text">
          <CardTerminal>
            <slot />
          </CardTerminal>
        </aside>
      </section>
