---
import "../styles/card-terminal.css";
import BarraTerminal from "../components/BarraTerminal.astro";
---

<div class="caja__terminal">
  <BarraTerminal />
  <div class="caja__cristal caja__dark">
    <slot />
  </div>
</div>
