---
import "../styles/card-terminal.css";
import BarraTerminal from "../components/BarraTerminal.astro";


---

<div class="caja__cristal caja__dark">
	<BarraTerminal />
	<div class="terminal__container">
        <slot/>
	</div>
</div>
